:root {
  --system-white: #fdfffc;
  --brand-blue: #4166de;
  --system-black: #070505;
  --light-grey: #e9e9e9;
  --second-black: #515151;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.w-embed-youtubevideo {
  width: 100%;
  background-image: url('https://www.loom.com/share/52e98898ccf64277a8db25a5f0fe3654?sid=79b9afbc-e632-457d-9517-3e32c602d98c');
  background-position: 50%;
  background-size: cover;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.navbar-logo-left {
  z-index: 20;
  width: 100vw;
  max-width: 100vw;
  background-color: var(--system-white);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  align-items: center;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 16px 0;
  display: flex;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 500;
  display: flex;
}

.nav-menu-two {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link {
  color: #1a1b1f;
  letter-spacing: .25px;
  cursor: none;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--brand-blue);
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-divider {
  width: 1px;
  height: 22px;
  background-color: #e4ebf3;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, .75);
}

.button-primary {
  background-color: var(--brand-blue);
  color: #fff;
  letter-spacing: 0;
  text-transform: capitalize;
  cursor: none;
  border-radius: 100px;
  padding: 12px 32px;
  font-size: 16px;
  line-height: 150%;
  transition: all .2s;
  display: none;
}

.button-primary:hover {
  color: #fff;
  background-color: #1f3e9b;
}

.button-primary:active {
  background-color: #43464d;
}

.body {
  background-color: var(--system-white);
  color: #333;
  cursor: none;
  font-family: Thicccboi, sans-serif;
}

.text-block {
  font-size: 16px;
}

.scroll-indicator {
  width: 100vw;
  height: 4px;
  background-color: var(--brand-blue);
  border-radius: 10px;
}

.main-section {
  width: 100vw;
  max-width: 100vw;
  margin-top: 80px;
  padding-bottom: 32px;
  padding: 0 20px;
}

.main-section.hero-section {
  height: 100vh;
  min-height: 100vh;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  overflow: hidden;
}

.main-section.work-section {
  height: 100vh;
}

.main-section.skills-section {
  height: auto;
  position: relative;
}

.main-section.footer-section {
  margin-top: 120px;
  margin-bottom: 16px;
}

.main-section.presentation-section {
  margin-top: 100px;
  padding-bottom: 0;
}

.main-section.what-section {
  margin-top: 100px;
}

.main-container {
  height: 100%;
  max-width: 1140px;
}

.main-container.hero-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
  overflow: visible;
}

.main-container.works-container {
  max-width: none;
}

.main-container.work-page-container {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.hero-content {
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}

.hero-image {
  z-index: 1;
  width: 50%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  position: relative;
  overflow: visible;
}

.heading {
  background-image: linear-gradient(#262626, #6c6c6c);
  font-size: 80px;
  line-height: 90%;
}

.heading.clipped {
  width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 120%;
  display: block;
  position: static;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.heading.clipped.english {
  height: auto;
  display: block;
  position: static;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.heading.clipped.arabic {
  line-height: 130%;
  display: block;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.heading.clipped.arabic.spanish {
  display: none;
}

.heading.clipped.arabic-copy {
  line-height: 130%;
  display: none;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.heading.clipped.arabic-copy.spanish {
  display: none;
}

.heading.clipped.spanish, .heading.clipped.french, .heading.clipped.hindi, .heading.clipped.tamil {
  display: block;
}

.html-embed {
  width: 0;
  height: 0;
  font-weight: 500;
  display: none;
}

.content {
  grid-column-gap: 27px;
  grid-row-gap: 27px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.p-wrapper {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.frame-12 {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.vectors-wrapper {
  width: 24px;
  height: 24px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.im-a-ux-product-designer-i-create-solutions-for-digital-experience-enhancements-0 {
  color: #515151;
  text-transform: undefined;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
}

.im-a-ux-product-designer-i-create-solutions-for-digital-experience-enhancements-1 {
  color: #4871f7;
  text-transform: undefined;
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
}

.located-in-dubai-uae-0 {
  color: #6e6e6e;
  text-transform: undefined;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
}

.located-in-dubai-uae-1 {
  color: #262626;
  text-transform: undefined;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
}

.primary-button {
  background-color: var(--brand-blue);
  cursor: none;
  border-radius: 100px;
  padding: 16px 64px;
  font-size: 16px;
  font-weight: 500;
}

.primary-button.secondary-button-lined {
  border: 1px solid var(--system-black);
  background-color: var(--system-white);
  color: var(--system-black);
  cursor: none;
  font-weight: 500;
}

.primary-button.nav-button-no-show {
  padding: 10px 42px;
}

.button-wrapper {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.object {
  z-index: -1;
  position: absolute;
  top: 32%;
  bottom: auto;
  left: 4%;
  right: auto;
}

.object.o0 {
  top: 25%;
  left: 8%;
}

.object._01 {
  top: 49%;
  left: 86%;
}

.object._02 {
  top: 24%;
  left: 40%;
}

.object._03 {
  left: 75%;
}

.object._05 {
  top: 53%;
  left: 11%;
}

.object._06 {
  top: 39%;
}

.object._07 {
  top: 26%;
  left: 61%;
}

.my-image {
  max-height: 80%;
}

.cursor-wrapper {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  cursor: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.cursor {
  width: 70px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.image {
  width: 50%;
  height: 50%;
  display: block;
}

.marquee-container {
  z-index: -1;
  width: 100vw;
  max-width: 100vw;
  min-height: 80px;
  justify-content: space-between;
  padding-bottom: 16px;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.marquee-contetnts {
  width: 2370px;
  min-width: 2370px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  display: flex;
  position: static;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.marque-text {
  color: #262626;
  font-size: 72px;
  font-weight: 500;
  line-height: 70%;
}

.marquee-text {
  color: #bcbcbc;
  font-size: 72px;
  font-weight: 500;
  line-height: 70%;
}

.heading-container {
  width: 100%;
  height: 96px;
  flex-direction: column;
  display: flex;
  position: static;
  overflow: hidden;
}

.h-tag-holder {
  flex-direction: column;
  display: flex;
  overflow: visible;
}

.work-coontainer {
  width: 100%;
  height: 80%;
  max-height: 80%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.work-coontainer.skills-container {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  margin-top: 0;
}

.subheading-container {
  height: 134px;
  max-height: 134px;
  min-height: 134px;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.subheading-container.second-heading {
  overflow: hidden;
}

.heading-2 {
  height: 50%;
  color: var(--second-black);
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 120%;
  display: flex;
}

.heading-2.hidden-for-mobile {
  height: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.tab-link-tab-1 {
  width: 100%;
  color: var(--system-black);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  padding: 16px 64px;
  display: flex;
}

.tab-link-tab-1.w--current {
  width: 100%;
  background-color: var(--system-black);
  color: var(--system-white);
  cursor: none;
  justify-content: center;
  align-items: center;
  padding: 16px 64px;
  display: flex;
}

.tabs-menu {
  min-width: 750px;
  background-color: var(--light-grey);
  cursor: none;
  border-radius: 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
}

.tab-link-tab-2 {
  width: 100%;
  cursor: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  padding: 16px 64px;
  display: flex;
}

.tab-link-tab-2.w--current {
  background-color: var(--system-black);
  color: var(--system-white);
}

.tab-link-tab-3 {
  width: 100%;
  cursor: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  padding: 16px 64px;
  display: flex;
}

.tab-link-tab-3.w--current {
  background-color: var(--system-black);
  color: var(--system-white);
}

.tabs {
  width: 100%;
  max-width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .4s cubic-bezier(.77, 0, .175, 1);
  display: flex;
}

.tab-pane-tab-1 {
  width: 100%;
  height: 100%;
}

.shot-container {
  width: 45%;
  min-width: auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.shot-image {
  width: 400px;
  height: 400px;
  min-height: 400px;
  min-width: 400px;
  object-fit: cover;
  border-radius: 26px;
}

.content-container {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-tag {
  color: #262626;
  text-transform: undefined;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
}

.chip-container {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.chip-instruction {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #e4eafe;
  border-radius: 6px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 6px;
  display: flex;
}

.chip-text {
  color: #192856;
  text-transform: undefined;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
}

.horizontal-scroll-container {
  width: 100vw;
  max-width: 100vw;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 32px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.horizontal-scroll-container.case-stidies-tab {
  justify-content: center;
}

.sub-img-holder {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  justify-content: flex-start;
  overflow: hidden;
}

.subheading-holder {
  height: 200%;
  min-height: 200%;
  justify-content: space-between;
  overflow: visible;
}

.subheading-img {
  overflow: visible;
}

.cell {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: rgba(0, 0, 0, 0);
  flex-direction: row;
  justify-content: space-between;
}

.quick-stack {
  width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 620px;
  padding: 0;
}

.cell-2 {
  border-radius: 26px;
  justify-content: space-between;
  gap: 20px;
}

.cell-3 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: rgba(0, 0, 0, 0);
  flex-direction: row;
}

.thirtypercent {
  width: 50%;
  height: 100%;
  background-color: var(--brand-blue);
  border-radius: 26px;
  position: relative;
  overflow: hidden;
}

.seventy-percent {
  width: 100%;
  height: 100%;
  background-color: var(--light-grey);
  border-radius: 26px;
  position: relative;
  overflow: hidden;
}

.bento-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.top-section {
  height: 40%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(167deg, #003f63, #000);
  border-radius: 28px;
  padding: 20px;
  
}

.text-block-2 {
  color: var(--system-white);
  width: 100%;
  font-size: 28px;
  line-height: 120%;
}

.bottom-section {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(167deg, #003f63, #000);
  border-radius: 28px;
  padding: 20px;
}

.spline-scene {
  width: 100%;
  height: 60%;
  min-width: 100%;
}

.spline-text-holder {
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.experience-description {
  color: var(--second-black);
  font-family: Thicccboi, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
}

.link {
  color: var(--brand-blue);
}

.link-2 {
  color: var(--brand-blue);
  cursor: none;
}

.tools-icons {
  width: auto;
  max-width: 1140px;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: space-around;
}

.tool-holder {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: center;
  align-items: center;
}

.text-block-3 {
  color: var(--second-black);
  font-size: 18px;
  font-weight: 500;
}

.toold-holder {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: center;
  align-items: center;
  position: static;
}

.presentation-wrapper {
  align-items: center;
}

.head-text {
  font-size: 48px;
  font-weight: 600;
  line-height: 120%;
  width: 90%;
}

.head-wrapper {
  width: 50%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.subtext {
  color: #9e9e9e;
  font-size: 22px;
  font-weight: 500;
  line-height: 120%;
}

.youtube {
  width: 50%;
  border-radius: 32px;
}

.footer-main {
  width: 100%;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-2 {
  color: #262626;
  text-transform: undefined;
  font-size: 135px;
  font-weight: 700;
  line-height: 150%;
}

.socials {
  width: 100%;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex: 0 auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.linkedin {
  height: 69px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.vectors-wrapper-2 {
  width: 42px;
  height: 42px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.frame-67 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
}

.text-3 {
  color: #4871f7;
  text-transform: undefined;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
}

.vectors-wrapper-3 {
  width: 38px;
  height: 38px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.frame-68 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
}

.frame-25 {
  grid-column-gap: 18.24px;
  grid-row-gap: 18.24px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.instagram {
  grid-column-gap: 4.26966px;
  grid-row-gap: 4.26966px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.wifi_calling_1 {
  width: 38px;
  height: 38px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 3px;
  display: flex;
}

.vectors-wrapper-4 {
  width: 22.2535px;
  height: 21.25px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-holder-hover {
  height: 100%;
  overflow: hidden;
}

.text-holder {
  height: 100%;
  min-height: 1%;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  overflow: hidden;
}

.div-block {
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 12px;
  justify-content: space-between;
  padding: 16px;
  display: flex;
}

.link-3 {
  color: var(--brand-blue);
}

.flex-block {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.div-block-2 {
  display: none;
}

.what-wrapper {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.left-arrow {
  display: block;
}

.right-arrow {
  color: #fffdfd;
  display: block;
  position: relative;
}

.icon-2 {
  background-color: var(--brand-blue);
  color: var(--brand-blue);
  display: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.icon-3 {
  background-color: var(--brand-blue);
  color: var(--brand-blue);
  display: none;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.slider {
  width: 100%;
  position: relative;
}

.what-i-do-box {
  width: 100%;
  max-width: 1140px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.inner-box {
  width: 80%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  margin-bottom: 32px;
}

.me-second-image {
  object-fit: fill;
}

.what-content {
  width: 100%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.text-4 {
  color: var(--system-black);
  font-size: 48px;
  font-weight: 600;
  line-height: 130%;
}

.text-5 {
  color: var(--system-black);
  font-size: 26px;
  font-weight: 500;
  line-height: 140%;
}

.mask {
  background-color: #fdfffc;
  position: static;
}

.slide-nav {
  color: var(--brand-blue);
}

.gradient-overlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0), #000);
  align-items: flex-end;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-block-9 {
  width: 100%;
  color: var(--system-white);
  justify-content: center;
  align-items: center;
  padding: 16px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
}

.rotate-holder {
  z-index: -2;
  width: 360px;
  height: 350px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.rotate-holder.tools-rotate {
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.dashed {
  width: 80%;
  height: 80%;
  position: static;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.inner-div-for-dashed {
  z-index: -2;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
}

.modal-wrapper {
  z-index: 995;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.modal-bg {
  width: 100%;
  height: 1000%;
  background-color: rgba(0, 0, 0, .71);
  display: block;
  position: absolute;
}

.contact-me {
  width: 100%;
  max-width: 549px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #fdfffc;
  border-radius: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  display: flex;
  position: relative;
}

.heading-3 {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.text-6 {
  color: #515151;
  text-transform: undefined;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
}

.close-button {
  width: 48px;
  height: 48px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #fdfffc;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 5px;
  display: flex;
}

.vectors-wrapper-5 {
  width: 13.15px;
  height: 13.15px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}

.touch-frame {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  border: .5px solid rgba(65, 102, 222, .39);
  border-radius: 12px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  display: flex;
}

.icon-4 {
  width: 47px;
  height: 47px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
  position: relative;
}

.vectors-wrapper-6 {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 0%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper-7 {
  width: 33.8505px;
  height: 34.0026px;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 6.22328px;
  left: 7.03375px;
}

.button-contact {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: var(--brand-blue);
  border: 1px solid #4871f7;
  border-radius: 100px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  display: flex;
}

.text-7 {
  color: var(--system-white);
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
}

.vectors-wrapper-8 {
  width: 47px;
  height: 47px;
  object-fit: cover;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.text-8 {
  color: var(--system-white);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
}

.content-holder {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-of-me {
  width: 40%;
  height: 174px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.description {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.instagram---i-post-about-design-and-my-ui-shots-0 {
  color: #838383;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}

.instagram---i-post-about-design-and-my-ui-shots-1 {
  color: #9b9b9b;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
}

.buttons-tag {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-2 {
  width: 100%;
}

.scroll-content {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: flex-start;
  align-items: center;
  padding-right: 20px;
}

.icon-5, .icon-6 {
  color: var(--brand-blue);
}

.slider-2 {
  background-color: var(--system-white);
}

.right-arrow-2, .left-arrow-2 {
  cursor: none;
}

.lightbox-link {
  width: 400px;
  height: 400px;
  min-width: 100%;
  border-radius: 24px;
}

.ligfhtbox-wrapper {
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
}

.body-2 {
  font-family: Thicccboi, sans-serif;
}

.image-3, .image-4 {
  width: 100%;
}

.contact-inner-button.button-contact {
  width: 100%;
  min-width: 100%;
}

.contact-inner-button.button-contact.button-mobile-contact {
  min-width: 70%;
}

.contact-inner-button.button-contact.button-mobile-contact:active {
  background-color: #2445ad;
}

.contact-context {
  width: 70%;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.spline-text-and-chip {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-direction: column;
  display: flex;
}

.chip-spline-touch {
  background-color: rgba(253, 255, 252, .15);
  border-radius: 8px;
  justify-content: center;
  padding: 8px;
  display: flex;
  width: 100%;
}

.chip-spline-touch.mobile-instruction {
  display: none;
}

.text-block-10 {
  color: var(--light-grey);
}

.pointer-invisile {
  cursor: none;
}
.image-5 {
  min-height: 100%;
  object-fit: cover;
}

.navbar-brand {
  cursor: none;
}
@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-wrapper {
    width: 100%;
  }

  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .button-primary {
    display: block;
  }

  .menu-button {
    color: var(--brand-blue);
    background-color: rgba(0, 59, 250, 0);
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
  }

  .body {
    cursor: auto;
  }

  .main-section.hero-section {
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
  }

  .main-section.skills-section, .main-section.footer-section, .main-section.presentation-section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-section.what-section {
    height: 50vh;
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-container.hero-container {
    flex-direction: column;
  }

  .main-container.works-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-content {
    width: 100%;
    min-height: 50%;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 32px;
  }

  .hero-image {
    width: 100%;
    height: 45%;
    justify-content: center;
    align-items: center;
  }

  .heading.clipped {
    justify-content: center;
    align-items: center;
    font-size: 72px;
    display: flex;
  }

  .content {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    justify-content: space-between;
    align-items: center;
  }

  .p-wrapper {
    width: 80%;
    justify-content: center;
    align-items: center;
  }

  .text {
    width: 100%;
    text-align: center;
  }

  .im-a-ux-product-designer-i-create-solutions-for-digital-experience-enhancements-0 {
    font-size: 22px;
  }

  .primary-button {
    width: 100%;
    justify-content: center;
    font-size: 16px;
    display: flex;
  }

  .primary-button.secondary-button-lined.body-button {
    width: auto;
  }

  .primary-button.nav-button-no-show {
    display: none;
  }

  .button-wrapper {
    width: 80%;
    flex-direction: row;
  }

  .my-image {
    height: 100%;
    max-height: 100%;
  }

  .cursor-wrapper, .cursor {
    display: none;
  }

  .subheading-container, .subheading-container.second-heading {
    overflow: hidden;
  }

  .heading-2 {
    font-size: 28px;
  }

  .tabs-menu {
    min-width: 730px;
  }

  .shot-container {
    width: 400px;
    justify-content: center;
    align-items: flex-start;
  }

  .shot-image {
    width: 100%;
    height: auto;
  }

  .horizontal-scroll-container {
    max-width: none;
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    justify-content: flex-end;
    overflow: auto;
  }

  .seventy-percent {
    width: 50%;
  }

  .top-section {
    flex-direction: row;

  }

  .text-block-2 {
    font-size: 24px;
    max-width: 50%;
  }

  .text-block-2.spline-text {
    line-height: 140%;
    min-width: 100%;
  }

  .tools-icons {
    width: auto;
    grid-column-gap: 22px;
    grid-row-gap: 22px;
  }

  .text-block-3 {
    color: #a5a5a5;
  }

  .text-block-4 {
    font-size: 16px;
  }

  .heading-holder {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
  }

  .youtube {
    border-radius: 28px;
  }

  .text-2 {
    font-size: 80px;
  }

  .socials {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .text-3 {
    font-size: 16px;
  }

  .text-holder {
    min-height: 100%;
    overflow: hidden;
  }

  .div-block-2 {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    justify-content: space-between;
    display: flex;
  }

  .list-item {
    display: none;
  }

  .heading-p {
    justify-content: center;
    align-items: center;
  }

  .text-4 {
    font-size: 52px;
  }

  .text-5 {
    font-size: 24px;
  }

  .modal-wrapper, .list-item-2 {
    display: none;
  }

  .slider-2 {
    height: 100%;
  }

  .chip-spline-touch {
    display: none;
  }

  .chip-spline-touch.mobile-instruction {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .nav-menu-two {
    background-color: var(--system-white);
    border-style: solid;
    border-color: rgba(65, 102, 222, .19);
    border-bottom-width: 2px;
    border-radius: 0;
    flex-direction: column;
    margin-top: 0;
    padding-bottom: 30px;
    box-shadow: 0 20px 22px 3px rgba(76, 118, 255, .14);
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .button-primary {
    justify-content: center;
    align-items: center;
    font-size: 14px;
    display: flex;
  }

  .menu-button.w--open {
    background-color: #93adff;
    border-radius: 12px;
  }

  .main-section.hero-section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-section.what-section {
    height: auto;
  }

  .main-container.work-page-container {
    grid-column-gap: 32px;
    justify-content: center;
    align-items: center;
  }

  .hero-content {
    height: 100%;
    max-width: 100%;
  }

  .hero-image {
    height: 45%;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .heading.clipped {
    text-align: center;
    font-size: 64px;
  }

  .content {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }

  .p-wrapper {
    align-items: center;
  }

  .text {
    text-align: center;
  }

  .im-a-ux-product-designer-i-create-solutions-for-digital-experience-enhancements-0, .im-a-ux-product-designer-i-create-solutions-for-digital-experience-enhancements-1 {
    font-size: 18px;
  }

  .primary-button {
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    display: flex;
  }

  .primary-button.secondary-button-lined {
    padding-left: 0;
    padding-right: 0;
  }

  .primary-button.secondary-button-lined.body-button {
    padding-left: 34px;
    padding-right: 34px;
  }

  .primary-button.nav-button-no-show {
    display: none;
  }

  .button-wrapper {
    width: 100%;
    flex-direction: row;
    display: none;
  }

  .my-image {
    height: 100%;
  }

  .cursor-wrapper, .cursor {
    display: none;
  }

  .heading-container {
    height: 98px;
  }

  .h-tag-holder {
    max-height: 90px;
  }

  .subheading-container {
    height: 120px;
    max-height: 120px;
    min-height: 120px;
    align-items: flex-start;
  }

  .subheading-container.second-heading {
    height: 130px;
    max-height: 130px;
    min-height: 130px;
    align-items: flex-start;
  }

  .heading-2 {
    height: 50%;
    min-height: 50%;
    text-align: left;
  }

  .heading-2.hidden-for-mobile {
    height: 100%;
    text-align: left;
  }

  .tab-link-tab-1.w--current {
    padding-left: 0;
    padding-right: 0;
  }

  .tabs-menu {
    width: 100%;
    min-width: auto;
  }

  .tab-link-tab-2, .tab-link-tab-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .shot-container {
    width: 330px;
    min-width: 330px;
  }

  .shot-image {
    min-height: 330px;
    min-width: 330px;
    border-radius: 12px;
  }

  .horizontal-scroll-container {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 0;
    overflow: auto;
  }

  .sub-img-holder {
    height: 200%;
    align-items: flex-start;
  }

  .subheading-holder {
    justify-content: space-between;
  }

  .subheading-img {
    width: 100%;
    height: 100%;
    max-height: 50%;
    min-height: 50%;
    display: block;
  }

  .subheading-img.hidden-for-mobile {
    display: block;
  }

  .cell {
    flex-direction: column;
  }

  .quick-stack {
    grid-row-gap: 20px;
  }

  .cell-3 {
    flex-direction: column;
  }

  .thirtypercent {
    width: 100%;
    border-radius: 24px;
  }

  .seventy-percent {
    width: 100%;
    border-radius: 22px;
  }

  .top-section {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-radius: 22px;
  }
  .Bottom-section {
    border-radius: 22px;
  }

  .text-block-2 {
    padding-right: 0;
    width: 100%;
    font-size: 22px;
    text-align: center;
  }
  .text-block-2.spline-text {
    text-align: left;
  }


  .tools-icons {
    width: 100%;
  }

  .text-block-3 {
    font-size: 16px;
  }

  .text-block-4, .text-block-5 {
    text-align: center;
    font-size: 14px;
  }

  .text-block-6 {
    width: 100%;
    text-align: center;
    font-size: 14px;
  }

  .presentation-wrapper {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    flex-direction: column;
  }

  .head-text, .head-wrapper, .youtube, .footer-main {
    width: 100%;
  }

  .text-holder {
    min-height: 100%;
  }

  .list-item {
    display: none;
  }

  .icon {
    color: var(--brand-blue);
  }

  .what-wrapper, .slider {
    height: 100%;
  }

  .inner-box {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 64px;
  }

  .me-second-image {
    object-fit: contain;
  }

  .what-content {
    align-items: center;
  }

  .text-5 {
    text-align: center;
  }

  .text-block-10 {
    font-size: 12px;
  }
}

@media screen and (max-width: 479px) {
  .contact-context {
    width: 100%;

  }
  .navbar-logo-left {
    max-height: 120px;
  }

  .navbar-logo-left-container.shadow-three {
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    display: flex;
    position: static;
  }

  .container {
    max-width: none;
  }

  .navbar-wrapper {
    padding-right: 0;
  }

  .navbar-brand {
    width: 13%;
  }

  .nav-menu-two {
    flex-direction: column;
  }

  .button-primary {
    justify-content: flex-start;
    align-items: center;
    padding: 12px 24px;
    font-size: 14px;
    line-height: 90%;
    display: flex;
  }

  .button-primary:active {
    background-color: #2445ad;
  }

  .menu-button {
    border-radius: 0%;
  }

  .menu-button.w--open {
    border-radius: 50%;
  }

  .body {
    cursor: auto;
  }

  .main-section {
    margin-top: 100px;
    padding-bottom: 0;
  }

  .main-section.hero-section {
    height: 90vh;
    max-height: 100vh;
  }

  .main-section.skills-section {
    margin-top: 70px;
    padding-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
  }

  .main-section.footer-section {
    margin-top: 80px;
    margin-bottom: 32px;
    padding-bottom: 0;
  }

  .main-section.presentation-section {
    margin-top: 80px;
  }

  .main-section.what-section {
    height: auto;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .main-container {
    align-items: flex-start;
    display: block;
  }

  .main-container.hero-container {
    max-height: 100%;
    justify-content: flex-start;
  }

  .main-container.what-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .hero-content {
    height: 100%;
    max-height: 53%;
    min-height: 50%;
  }

  .hero-image {
    height: 50%;
    max-width: none;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: visible;
  }

  .heading.clipped {
    justify-content: center;
    align-items: center;
    font-size: 56px;
    line-height: 170%;
    display: flex;
  }

  .content {
    z-index: 4;
    height: 100%;
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    justify-content: flex-end;
    position: relative;
  }

  .p-wrapper {
    width: 100%;
  }

  .primary-button {
    padding: 12px 0;
    display: flex;
  }

  .primary-button:active {
    background-color: #2445ad;
  }

  .primary-button.secondary-button-lined {
    text-align: center;
    justify-content: center;
    padding-right: 0;
  }

  .primary-button.secondary-button-lined:active {
    background-color: var(--light-grey);
  }

  .primary-button.secondary-button-lined.body-button {
    text-align: center;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
  }

  .primary-button.nav-button-no-show {
    display: none;
  }

  .object._06 {
    z-index: -3;
  }

  .my-image {
    width: 70%;
    height: auto;
    object-fit: contain;
    flex: 0 auto;
  }

  .cursor-wrapper, .cursor {
    display: none;
  }

  .marquee-container {
    top: auto;
    bottom: 7%;
    left: 0%;
    right: 0%;
  }

  .marquee-contetnts {
    width: auto;
    min-width: 1400px;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    justify-content: space-between;
  }

  .marque-text, .marquee-text {
    font-size: 42px;
  }

  .heading-container {
    height: 114px;
    overflow: hidden;
  }

  .h-tag-holder {
    max-height: 100px;
    overflow: hidden;
  }

  .work-coontainer {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    margin-top: 0;
  }

  .work-coontainer.skills-container {
    margin-top: 0;
  }

  .subheading-container {
    height: 120px;
    max-height: 120px;
    min-height: 120px;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .subheading-container.second-heading {
    max-height: 100px;
    min-height: 100px;
  }

  .subheading-container.third-heading {
    height: 90px;
    max-height: 90px;
    min-height: 90px;
  }

  .heading-2 {
    width: 100%;
    height: 100%;
    text-align: left;
    justify-content: center;
    align-items: center;
    font-size: 26px;
  }

  .heading-2.hidden-for-mobile {
    align-items: center;
    font-size: 26px;
    display: flex;
  }

  .tab-link-tab-1 {
    padding: 12px 0;
  }

  .tab-link-tab-1.w--current {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .tabs-menu {
    margin-bottom: 32px;
  }

  .tab-link-tab-2, .tab-link-tab-3 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .shot-container {
    width: 100%;
  }

  .chip-text {
    font-size: 12px;
  }

  .horizontal-scroll-container {
    flex-direction: column;
    overflow: auto;
  }

  .sub-img-holder {
    width: 30%;
    height: 200%;
    min-width: 30%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .subheading-holder {
    max-height: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: flex-start;
    align-items: center;
  }

  .subheading-img {
    height: 50%;
    min-width: 100%;
  }

  .subheading-img.hidden-for-mobile {
    display: block;
  }

  .cell {
    flex-direction: column;
  }

  .cell-2 {
    justify-content: center;
    align-items: center;
  }

  .cell-3 {
    flex-direction: column;
  }

  .thirtypercent {
    width: 100%;
  }

  .seventy-percent {
    width: 100%;
    border-radius: 22px;
  }

  .top-section {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .text-block-2, .text-block-2.spline-text {
    padding-left: 0;
    min-width: none !important;
  }

  .bottom-section {
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
  }

  .spline-scene {
    width: 100%;
    height: 270px;
    min-height: 270px;
    min-width: 100%;
  }

  .spline-text-holder {
    width: 100%;
  }

  .experience-description {
    font-size: 16px;
  }

  .tools-icons {
    width: 100%;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .text-block-3 {
    font-size: 14px;
  }

  .heading-holder {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-direction: column;
    display: flex;
  }

  .toold-holder {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .head-text {
    font-size: 32px;
  }

  .subtext {
    font-size: 18px;
  }

  .youtube {
    border-radius: 24px;
  }

  .footer-main {
    width: 100%;
    grid-column-gap: 22px;
    grid-row-gap: 22px;
  }

  .text-2 {
    font-size: 38px;
  }

  .socials {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .vectors-wrapper-2 {
    width: 32px;
    height: 32px;
  }

  .text-3 {
    font-size: 14px;
  }

  .vectors-wrapper-3, .wifi_calling_1 {
    width: 32px;
    height: 32px;
  }

  .image-holder-hover {
    width: 30%;
    min-width: 30%;
  }

  .text-holder {
    align-items: flex-start;
  }

  .div-block {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-direction: column;
    align-items: center;
  }

  .link-3 {
    font-weight: 600;
  }

  .text-block-7, .text-block-8 {
    width: 100%;
    font-size: 12px;
    line-height: 120%;
  }

  .div-block-2 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    align-items: center;
  }

  .inner-box {
    width: 80%;
    justify-content: center;
    margin-bottom: 38px;
  }

  .me-second-image {
    height: 40%;
    object-fit: fill;
  }

  .text-4 {
    font-size: 32px;
  }

  .text-5 {
    font-size: 18px;
    font-weight: 500;
  }

  .modal-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    display: none;
  }

  .contact-me {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .heading-3 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: row;
    align-items: center;
  }

  .touch-frame {
    width: 100%;
    grid-column-gap: 14px;
    grid-row-gap: 14px;
    flex-direction: row;
    justify-content: flex-start;
  }

  .icon-4 {
    width: 47px;
  }

  .vectors-wrapper-6 {
    width: 32px;
    max-width: 47px;
  }

  .button-contact {
    width: 100%;
    min-width: 180px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .content-holder {
    flex-direction: column;
  }

  .image-of-me {
    width: 50%;
  }

  .instagram---i-post-about-design-and-my-ui-shots-0 {
    font-size: 15px;
  }

  .instagram---i-post-about-design-and-my-ui-shots-1 {
    font-size: 14px;
  }

  .buttons-tag {
    width: 100%;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .image-2 {
    height: 100%;
    object-fit: contain;
  }

  .slider-2 {
    height: 100%;
  }

  .slide-nav-2 {
    grid-column-gap: 22px;
    grid-row-gap: 22px;
    justify-content: center;
    display: flex;
  }

  .lightbox-link {
    min-height: 100%;
  }

  .contact-inner-button.button-contact.button-mobile-contact {
    width: 100%;
    padding: 8px 32px;
  }

  .chip-spline-touch.mobile-instruction {
    margin-left: 0;
  }

  .image-5 {
    min-height: 100%;
  }
}

#w-node-_2d3d49b7-1a26-5ff4-7d87-71b525420fbe-46e59fd2 {
  grid-template-rows: auto auto;
  grid-template-columns: 2.75fr 1fr;
}

#w-node-bb9557cd-da1a-d320-8af0-c45cdfb53c12-46e59fd2 {
  grid-row: span 2 / span 2;
}

@media screen and (max-width: 991px) {
  #w-node-_2d3d49b7-1a26-5ff4-7d87-71b525420fbe-46e59fd2 {
    grid-template-rows: auto auto;
    grid-template-columns: 2.75fr 1.75fr;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_2d3d49b7-1a26-5ff4-7d87-71b525420fbe-46e59fd2 {
    grid-template-rows: auto auto;
    grid-template-columns: 2fr 1.75fr;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_2d3d49b7-1a26-5ff4-7d87-71b525420fbe-46e59fd2 {
    grid-template-rows: auto auto;
    grid-template-columns: 2.25fr;
  }

  #w-node-f1533c59-9fa2-d117-50f9-acdbca9872e6-46e59fd2 {
    grid-row: span 26 / span 26;
  }

  #w-node-bb9557cd-da1a-d320-8af0-c45cdfb53c12-46e59fd2 {
    order: 9999;
    grid-row: span 1 / span 1;
  }

  #w-node-_75532a78-eba7-97c2-a5e2-bd773c9dab7a-46e59fd2 {
    grid-row: span 26 / span 26;
  }
}


@font-face {
  font-family: 'Thicccboi';
  src: url('../fonts/THICCCBOI-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Thicccboi';
  src: url('../fonts/THICCCBOI-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Thicccboi Thicccaf';
  src: url('../fonts/THICCCBOI-ThicccAF.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Thicccboi';
  src: url('../fonts/THICCCBOI-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Thicccboi';
  src: url('../fonts/THICCCBOI-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Thicccboi';
  src: url('../fonts/THICCCBOI-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Thicccboi';
  src: url('../fonts/THICCCBOI-Bold.ttf') format('truetype'), url('../fonts/THICCCBOI-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Thicccboi';
  src: url('../fonts/THICCCBOI-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}